.body-container {
  display: flex;
  justify-content: center;
}

.button-and-api-container {
  display: flex;
  align-items: flex-start;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    margin-left: 20px;
  }
  
  button {
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border-style: solid;
    border-radius: 4px;
    outline: none;
    width: 300px;
    height: 40px;
  }
  
  button:hover {
    background-color: #ffffff;
    color: black;
    border-color: #474747;
  }  
  
  .api-info-container {
    margin-left: 50px;
  }